__pycache__/
*.pyc
*.pth
*.pt
*.zip
*.tar.gz
*.sh
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
experiments/checkpoints/*
!experiments/checkpoints/.gitkeep
outputs/
*.egg-info/
.eggs/
dist/
build/
.ipynb_checkpoints/
Miniconda3*
